<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <style>
            .row-style
            {
            padding-top:70px;
            position:relative;
            }
        </style>

</head>
<body>
  <div class="container">
      <div class="row">
      <div class="col">
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar" >
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a href="http://localhost:5000/" class="navbar-brand">TODO - Tasks</a>
              </div>
              <div>
                  <div class="collapse navbar-collapse" id="mynavbar">
                      <ul class="nav navbar-nav navbar-right">
                          <li><a href="t_addtask.html"><span class="glyphicon glyphicon-Menu"></span> Add New Task</a></li>
                          <li><a href="t_update.html"><span class="glyphicon glyphicon-Menu"></span> Update Task</a></li>
                          <li><a href="tasks.html"><span class="glyphicon glyphicon-shopping-Menu"></span>Display Tasks</a></li>
                          <li><a href="t_search.html"><span class="glyphicon glyphicon-Menu"></span> Search Tasks</a></li>
                          <li><a href="t_completed.html"><span class="glyphicon glyphicon-Menu"></span> Completed Tasks</a></li>
                          <li><a href="t_upcoming.html"><span class="glyphicon glyphicon-Menu"></span> Upcoming Tasks</a></li>
                      </ul>
                  </div>
              </div>           
            </div>
        
      </nav>
      </div>
  </div>
  </div>

  <div class="row row-style">  
    <div class="col-lg-6 col-lg-offset-3" >
        <div class="panel panel-primary">
        <div class="panel-heading">
        <h4>Updating a Task</h4>
        </div>
            <div class="panel-body">
                <p class="text-warning">Update a Task</p>
                <form role="form" method="post" action="http://127.0.0.1:5000/t_update_p">

                    <div class="form-group">
                        <input type="number" name="id" value="{{output_data[0][0]}}"  required readonly> 
                    </div>

                    <div class="form-group">
                        <input type="text" name="name" value="{{output_data[0][1]}}"  required> 
                    </div>
                    </br>
                    </br>
                    <input type="submit"><br><br>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>